body {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(241, 189, 212);
  font-family: sans-serif;
  background-image: url("./space.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
